
@{
    ViewBag.Title = "ThongTinTK";
    Layout = "~/Views/Shared/_LayoutCTV.cshtml";
}

@using PagedList.Mvc;
@model IEnumerable<S_FOOD.Models.CONGTACVIEN>
<h3 class="center">THÔNG TIN TÀI KHOẢN</h3>
<table class="table table-bordered table-hover table-striped" style="vertical-align:middle; font-size:14px">
    <thead style="background-color:orange">
        <tr>           
            <th class="center">
                Họ tên
            </th>
            <th class="center">
                CMND
            </th>
            <th class="center">
                Ngày sinh
            </th>
            <th class="center">
                Số điện thoại
            </th>
            <th class="center">
                Email
            </th>
            <th class="center">
                Địa chỉ
            </th>
            <th>Giới tính</th>
            <th class="center">Tùy chọn</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr class="center">        
        <td style="vertical-align:middle" class="center">
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td style="vertical-align:middle" class="center">
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td style="vertical-align:middle" class="center">
            @String.Format("{0:dd/MM/yyyy}", item.NgaySinh)
        </td>
        <td style="vertical-align:middle" class="center">
            @Html.DisplayFor(modelItem => item.DienThoai)
        </td>
        <td style="vertical-align:middle" class="center">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td style="vertical-align:middle" class="center">
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>



        <td class="center">@item.GioiTinh</td>


        <td style="vertical-align:middle" class="center">
            <button class="btn btn-success">@Html.ActionLink("Đổi mật khẩu", "Edit", new { id = item.MaTK_CTV }) </button>
        </td>
    </tr>
    }

</table>



