
@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model S_FOOD.Models.NGUOIDUNG

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group center">
        <h4>ĐỔI MẬT KHẨU</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaTK_User)
        

        <div class="form-group">
            <label>Mật khẩu mới</label>
            <input type="password" class="form-control" name="MatKhauMoi" required autofocus />
        </div>

        <div class="form-group">
            <label>Nhập lại mật khẩu mới</label>
            <input type="password" class="form-control" name="NhapLaiMatKhauMoi" required />
        </div>

        <div class="text-error">
            @ViewBag.LoiMK
        </div>

        <div class="form-group">
            <label>Mật khẩu củ</label>
            <input type="password" class="form-control" name="MatKhauCu" required />
        </div>

        <div class="text-error">
            @ViewBag.Loi
        </div>

    </div>
    <hr />
    <div class="form-group center">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>

}



