
@{
    ViewBag.Title = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@using PagedList.Mvc;
@model IEnumerable<S_FOOD.Models.NGUOIDUNG>
    <h3 class="center">THÔNG TIN TÀI KHOẢN</h3>
<table class="table table-bordered table-hover table-striped" style="vertical-align:middle; font-size:14px">
    <thead style="background-color:orange">
        <tr>            
            <th class="center">
                Họ tên
            </th>
            <th class="center">
                Số điện thoại
            </th>
            <th class="center">
                Email
            </th>
            <th class="center">
                Địa chỉ
            </th>
            <th>Giới tính</th>
            <th class="center">Tùy chọn</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="center">            
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.DiaChi)
            </td>
            
        
            
            <td class="center">@item.GioiTinh</td>
        

            <td style="vertical-align:middle" class="center">
                <button class="btn btn-success">@Html.ActionLink("Sửa TT", "Edit", new { id = item.MaTK_User }) </button>
                <button class="btn btn-primary">@Html.ActionLink("Đổi MK", "DoiMatKhau", new { id = item.MaTK_User }) </button>
            </td>
        </tr>
    }

</table>

