

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCTV.cshtml";
}


@model IEnumerable<S_FOOD.Models.KHUYENMAI>
<p>
    <button class="btn btn-warning">@Html.ActionLink("Thêm mới", "Create")</button>
</p>
<table class="table table-bordered table-hover table-striped" style="vertical-align:middle">
    <thead style="background-color:orange">
        <tr>
            <th class="center">
                Tên món ăn
            </th>
            <th class="center">
                Giá giảm
            </th>
            <th class="center">
                CTV
            </th>
            <th class="center">Tùy chọn</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr class="center">
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.MONAN.TenMonAn)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.GiamGia)
            </td>
            <td style="vertical-align:middle" class="center">
                @Html.DisplayFor(modelItem => item.MONAN.CONGTACVIEN.HoTen)
            </td>

            <td style="vertical-align:middle" class="center">
                <button class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { id = item.ID_MonAn }) </button>
                <button class="btn btn-primary">@Html.ActionLink("Chi tiết", "Details", new { id = item.ID_MonAn }) </button>
                <button class="btn btn-danger">@Html.ActionLink("Xóa", "Delete", new { id = item.ID_MonAn })</button>
            </td>
        </tr>
    }

</table>
<h5 class="center text-error"> @ViewBag.ErrorBody</h5>
<h5 class="center text-error"> @ViewBag.ErrorKM</h5>



