@model S_FOOD.Models.MONAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutCTV.cshtml";
}

@using (Html.BeginForm("Edit", "CTVMonAn", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-group center" style="font-size:15px">
    <h4>CHỈNH SỬA THÔNG TIN MÓN ĂN</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_MonAn)

    <div class="form-group" style="font-size:17px">
        @Html.Label("Tên món ăn", htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenMonAn, new { htmlAttributes = new { @style = "width:510px" } })
            @Html.ValidationMessageFor(model => model.TenMonAn, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Giá bán", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @style = "width:510px" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Phí vận chuyển", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PhiVanChuyen, new { htmlAttributes = new { @style = "width:510px" } })
            @Html.ValidationMessageFor(model => model.PhiVanChuyen, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        <label>Mô tả</label>
        <textarea class="form-control" name="GioiThieu"   placeholder="Giới thiệu về món ăn" required>@Model.MoTa</textarea>
    </div>

    <div class="form-group">
        @Html.Label("Số lượng tồn", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuong, new { htmlAttributes = new { @style = "width:510px" } })
            @Html.ValidationMessageFor(model => model.SoLuong, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label style="font-size:14px">Khu vực:</label>
        @Html.Action("PV_KhuVuc", "CTVMonAn")
    </div>

    <div class="form-group">
        <label style="font-size:14px">Loại bữa ăn:</label>
        @Html.Action("PV_LoaiBuaAn", "CTVMonAn")
    </div>

    <div class="form-group">
        @Html.Label("Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="file" name="fileUpload" />
            <br />
            <img src="@Url.Content("~/images/MonAn/"+Model.AnhBia)" style="width:120px" />
            (Ảnh hiện tại)
        </div>
    </div>

    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

    <div>
        <button class="btn btn-primary">@Html.ActionLink("Về trang chủ", "Index")</button>
    </div>
