@model S_FOOD.Models.LOAIBUAAN

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 class="center" style="color:red">Bạn có chắc muốn xóa @Model.TenLoai?</h3>
<div>
    <h4 class="center">THÔNG TIN CHI TIẾT</h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="font-size:14px">
        <tr class="center">
            <th class="center">Mã loại</th>
            <td class="center">@Model.ID_Loai</td>
        </tr>
        <tr class="center">
            <th class="center">Tên bữa ăn</th>
            <td class="center">@Model.TenLoai</td>
        </tr>
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color center">
            <input type="submit" value="Đồng ý xóa" class="btn btn-danger" />
            <button class="btn btn-primary">@Html.ActionLink("Về trang chủ", "Index")</button>
        </div>
    }
</div>

