@model S_FOOD.Models.LOAIBUAAN

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4 class="center">THÔNG TIN CHI TIẾT <a style="color:red">@Model.TenLoai</a></h4>
    <hr />
    <table class="table table-bordered table-striped table-hover" style="font-size:14px">
        <tr class="center">
            <th class="center">Mã loại</th>
            <td class="center">@Model.ID_Loai</td>
        </tr>

        <tr class="center">
            <th class="center">Tên bữa ăn</th>
            <td class="center">@Model.TenLoai</td>
        </tr>

    </table>

</div>
<p class="center">
    <button class="btn btn-success">@Html.ActionLink("Sửa", "Edit", new { id = Model.ID_Loai })</button>
    <button class="btn btn-primary"> @Html.ActionLink("Về trang chủ", "Index")</button>
</p>


