@using S_FOOD.Models
@using PagedList.Mvc;
@model PagedList.IPagedList<MONAN>

@{
    ViewBag.Title = "Trang chủ ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="main-content">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span12">
                    <h4 class="title">
                        <span class="pull-left"><span class="text"><span class="line">MÓN <strong>MỚI</strong></span></span></span>
                    </h4>
                    <div id="myCarousel" class="myCarousel carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails">
                                    @foreach (MONAN item in Model)
                                    {
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <p><a href="@Url.Action("ChiTiet","Sfood", new { id = item.ID_MonAn})"><img src="~/images/MonAn/@item.AnhBia" style="height:200px; width:370px" alt="" /></a></p>
                                                <a style="font-size:13px; font-weight:bold" class="category" >Giá: @String.Format("{0:0,0}", @item.GiaBan) VNĐ</a>                        
                                                @if(item.KhuyenMai != null)
                                                {
                                                     <a style="font-size:14px; font-weight:bold" class="category">(Giảm: @item.KhuyenMai.GiamGia%)</a>
                                                }
                                                <p style="font-size:16px; font-weight:bold"><a href="@Url.Action("ChiTiet","Sfood", new { id = item.ID_MonAn})" class="price">@item.TenMonAn</a></p>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
</section>
@*Tao lk cac trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        text-align: center;
        display: inline;
    }
</style>